@model SaleOnline.Models.SanPham
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đăng sản phẩm Cây Trồng </h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>


<div class="container-fluid">
    @using (Html.BeginForm("Index", "NewProduct", FormMethod.Post,new {enctype ="multipart/form-data" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên Sản Phẩm</label>
                                @Html.TextBoxFor(m => m.tenSP, new { @class = "form-control", @placeholder = "Name of the product" })

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nội dung tóm tắt </label>
                                @Html.TextAreaFor(m => m.ndTomTat, new { @class = "form-control", @rows = "5", @placeholder = "summary for product" })

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Ngày Đăng</label>
                                        @Html.TextBoxFor(m => m.ngayDang, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tài Khoản</label>
                                        @Html.TextBoxFor(m => m.taiKhoan, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Mã Loại</label>
                                        @Html.TextBoxFor(m => m.maLoai, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giá bán</label>
                                        @Html.TextBoxFor(m => m.giaBan, new { @class = "form-control"})
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Giảm giá</label>
                                        @Html.TextBoxFor(m => m.giamGia, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Nhà Sản Xuất</label>
                                        @Html.TextBoxFor(m => m.nhaSanXuat, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </form>


                </div>

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-4">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Hình Đại Diện</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <img src="@ViewBag.zzHinh" />
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="upFile" name="HinhDaiDien">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->

                </div>



            </div>
            <!--/.col (right) -->

            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card card-header">
                        <h3 class="card-title">Nội Dung bài viết</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">

                            @Html.TextAreaFor(m =>m.noiDung,new {
                                                                   @class = "textarea",
                                                                   @placeholder = "place some text here",
                                                                   @id = "vungsoanthao",
                                                                   @style = "width:100%;height:600px;font-size: 14px;" +
                                                                          "line-height:18px;border:1px solid #dddddd;padding:10px"
                                                               })
            
                       
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Đăng Bài</button>
            </div>
        </div>
    }
    <!-- /.row -->
</div><!-- /.container-fluid -->
<script src="https://cdn.tiny.cloud/1/ibqru3mgknoddy3xjnglu9gjqejisihay7lvy6g7v6a36r1m/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#vungsoanthao',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>